*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
/* body of the website */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00e68a;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 66px 30px;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
/* titles */
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

/* User Details */
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #00e68a;
}

/* student details */
 form .student-details .student-title{
  font-size: 20px;
  font-weight: 500;
}

form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: initial;
}

form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
}
 
form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 8px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
/* Radio buttons */
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two {
   background-color:black;
   border-color: #d9d9d9;
}

form input[type="radio"]{
   display: block;
   height: 1rem;
}

/* employment details */
form .employment-details .employment-title{
    font-size: 20px;
    font-weight: 500;
}

form .category1{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: initial;
    
}

form .category1 label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category1 label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 8px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;

}

/* Radio buttons */
#dot-3:checked ~ .category1 label .one,
#dot-4:checked ~ .category1 label .two {
    background-color:black;
    border-color: #d9d9d9;
}

form input[type="radio"]{
    display: flex;
    margin-bottom: 10px;
}

 /* Submit button*/
 form .button{
   height: 40px;
   margin: 35px;
 }

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background-color: #00e68a;
 }

 form .button input:hover{
  background-color: black;
}

/* Membership button*/
form .button{
    height: 40px;
    margin: 35px 0
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #00e68a;
    margin-bottom:10px;
}

form .button input:hover{
   background-color: black;
}
#registration_form .label {
    float: left;
    width: 140px;
}
#registration_form .error {
    color: red;
    font-size: 12px;
    margin-left: 170px;
    display: none;
}

div .member {
    display: none;
    text-align: center;
}
/* conatiner for the range slider*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  /* used for resizing */
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}
  
form .category{
    width: 100%;
}
  
.content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
}
  
.user-details::-webkit-scrollbar{
    width: 5px;
}
  }

@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}
